<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd"> 
	<http pattern="/resources/**" security="none" />

	<!-- <http use-expressions="true" auto-config="true">
	 <intercept-url pattern="/addToCart/**" 
		access="hasAuthority('User')" />
		 <form-login login-page="/login" username-parameter="ssoId" 
		password-parameter="password" authentication-failure-url="/errorPage" authentication-success-handler-ref="savedRequestAwareAuthenticationSuccessHandler"/> 
		<csrf />
		 <access-denied-handler error-page="/access-denied" /> 
		 enable remember me <remember-me token-validity-seconds="1209600" remember-me-parameter="remember-me" 
		data-source-ref="dataSource" /> <remember-me key="remember-me" data-source-ref="dataSource"/> 
		</http> -->
	<http auto-config="true" use-expressions="true">

		<intercept-url pattern="/addToCart/**"
			access="hasAuthority('User')" />

		<form-login login-page="/login"
			authentication-failure-url="/login?error" username-parameter="ssoId"
			password-parameter="password"
			login-processing-url="/auth/login_check"
			authentication-success-handler-ref="savedRequestAwareAuthenticationSuccessHandler" />

<!-- 		<logout logout-success-url="/logout" logout-url="/logout"
			delete-cookies="JSESSIONID" /> -->
		<csrf />
  
		<!-- enable remember me -->
		<remember-me token-validity-seconds="1209600"
			remember-me-parameter="remember-me" data-source-ref="dataSource" />
	</http>
  

	<authentication-manager>
		<authentication-provider>
			<password-encoder ref="passwordEncoder" />
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select email,password,enabled from user where email=?"
				authorities-by-username-query="select email,role from user where email=?" />
		</authentication-provider>
	</authentication-manager>


</beans:beans>  
